# ===== Visual Studio =====
.vs/                        # VS 설정 폴더
*.suo                       # 사용자 설정
*.user                      # 사용자 설정
*.userosscache              # 사용자 설정
*.sln.docstates             # 솔루션 문서 상태

x64/


# ===== Visual Studio 데이터베이스 =====
*.sdf                       # SQL Server Compact DB
*.opensdf
*.VC.db                     # VS 2015+

# ===== 로그 파일 =====
*.log                       # 빌드 로그, 테스트 로그 등

# ===== 사용자 생성 파일 =====
*.cache                     # 캐시 파일
*.coverage                  # 코드 커버리지 파일
*.vspx                      # Visual Studio Performance Profiler