# ===== Visual Studio =====
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
x64/


# ===== Visual Studio 데이터베이스 =====
*.sdf                       # SQL Server Compact DB
*.opensdf
*.VC.db                     # VS 2015+

# ===== 로그 파일 =====
*.log                       # 빌드 로그, 테스트 로그 등

# ===== 사용자 생성 파일 =====
*.cache                     # 캐시 파일
*.coverage                  # 코드 커버리지 파일
*.vspx                      # Visual Studio Performance Profiler